.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color:   #044C9C; 
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: wave 1.5s infinite;
}

.whatsapp-icon {
    color: white;
    font-size: 30px;
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 rgba(4, 76, 156, 1), 0 0 0 0 rgba(4, 76, 156, 1);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(37, 211, 102, 0), 0 0 0 20px rgba(4, 76, 156, 1);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0), 0 0 0 0 rgba(37, 211, 102, 0);
    }
}