@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.container-about{
    background-color:#d1d1d3;
}

.about{
    position: relative;
    top: 20px;
    width: 1500px;
    height: 700px;
    margin: 0 auto;
    
}

.about h2 {
    font-size: 50px;
    font-family: "Questrial", sans-serif;
    margin-top: 0;
    margin-left: 600px;
    text-align: left;
}

.about h4 {
    font-size: 30px;
    font-family: "Questrial", sans-serif;
    margin-top: -45px;
    margin-left: 600px;
    text-align: left;
}

.about p{
    font-size: 20px;
    font-family: "Questrial", sans-serif;
    margin-left: 600px;
    text-align: left;
}

.photo-about img{
    position: absolute;
    top: 0;
    left: 50px;
    width: 600px;
}

.icon1 {
    position: absolute;
    top: 620px;
    left: 1270px;
    
}

.icon2 {
    position: absolute;
    top: 620px;
    left: 1320px;
    
}

.icon3 {
    position: absolute;
    top: 620px;
    left: 1373px;
    
}


  