
.container-header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;

}

.header{
    width: 1500px;
    height: 148px;
    
    margin: 0 auto;
}

.router-links {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 500px;
  }
  
  .router-links a {
    margin-top: -40px;
    font-size: 35px; 
    color: black; 
    text-decoration: none; 
    margin-right: 50px; 
  }
  
  .router-links a:last-child {
    margin-right: 0; 
  }
  
  .icons{
    font-size: 20px;
    margin-top: -250px;
    margin-left: 1150px;
  }

  .logo img{
   
    margin-top: -120px;
    margin-left: -70px;
    width: 400px;

  }